.about {
  align-items: flex-start;
  justify-content: flex-start;
}

.about h1 {
  font-family: neolatina;
  font-size: calc(0.75rem + 5vmin);
  line-height: 75%;
  font-weight: 400;
  max-width: 50%;
}

.about-cards-container {
  display: flex;
  justify-content: flex-start;
}

.about-card {
  font-size: calc(0.25rem + 1vmin);
  width: 10vw;
  height: auto;
  background-color: #1f1f1f;
  padding: 20px 20px;
  margin: 15px;
  color: white;
}

.socials {
  width: 10vw;
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  align-self: flex-end;
  margin: 15px;
}

.social-acc {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #1f1f1f;
  border-radius: 6px;
  cursor: pointer;
}

.social-acc img {
  width: 25px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .about-card {
    width: 75vw;
  }

  .about h1 {
    font-size: 40px;
  }

  .about-cards-container {
    flex-direction: column;
  }
}
