.home {
  align-items: flex-start;
  background: url(../../assets/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 95% 0%;
}

.home h1 {
  font-family: neolatina;
  font-size: calc(0.75rem + 5vmin);
  line-height: 75%;
  font-weight: 400;
  max-width: 50%;
}

.home p {
  font-size: calc(0.30rem + 1vmin);
  max-width: 50%;
}

.scrolldown {
  position: absolute;
  height: 50vh;
  width: auto;
  bottom: 10px;
  right: 10px;
}

.spline {
  width: 1050px;
  height: 1050px;
  transform: scale(0.5);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.email-input {
  background-color: #1f1f1f;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
}

.join-msg::after {
  content: 'registered successfully';
  position: absolute;
  left: 0;
  top: 105%;
  display: block;
  background-color: black;
  color: green;
  padding: 1em 1.5em;
  font-size: calc(0.10rem + 1vmin);
  border-radius: 4px;
}

.email-input::placeholder {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.email-input:focus {
  color: white;
}

.email-submit {
  border-color: #00FF85;
  background-color: #00FF85;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 1120px) {
  .home {
    background-size: 800px;
    background-position: 20% 40%;
  }

  .home h1 {
    max-width: 100%;
  }

  .home p {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .home {
    justify-content: flex-start;
    background-position: 65% 50%;
  }

  .home h1 {
    font-size: 40px;
  }

  form {
    width: 100%;
  }

  .email-input {
    width: 60%;
  }

  .email-submit {
    width: 40%;
    font-size: calc(0.1rem + 2vmin);
  }
}
