.home {
  width: 100%;
  margin: 0;
  padding: 0 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: url(../bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 5%;
}
